.app {
  display: flex;
  height: 749px;
  width: 1441px;
  background-color: #1B1B22;
}
.inner-app{
  display: flex;
  width: 80vw;
  height: 100vh;
  
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main-content, .right-panel {
    width: 100%;
  }

  .playlist-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .playlist-item {
    text-align: center;
  }

  .playlist-info {
    font-size: 12px;
  }

  .update-btn {
    width: 100%;
  }
}
