.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.menu {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.playlist-section {
  width: 60%;
  padding: 20px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.video-card {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  
}
.video-card img{
  height: 100px;
  width: 100px;
}

.slider {
  width: 20%;
  background-color: #eee;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
}
.slider_image{
  height: 80px;
  width: 80px;
}